.ico.ico-vector-bl {
  background-image: url('/media/svg/icons/Navigation/Vector.svg');
}
.ico.ico-cross {
  background-image: url('/media/svg/icons/Navigation/Cross.svg');
}
.ico.ico-vector-l {
  background-image: url('/media/svg/icons/Navigation/Vector-left.svg');
}
.ico.ico-vector-r {
  background-image: url('/media/svg/icons/Navigation/Vector-right.svg');
}

.ico {
  display: inline-flex;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
}