@font-face {
  font-family: "fsmeridian";
  src: url("/fonts/FSMeridian-Bold.ttf");
}

:root {
  --orange: #EE7203;
  --gris: #EBEBEB;
}

body {
  color: #000;
  font-family: fsmeridian;
}

.number {
  font-size: 23em !important;
  left: -0.5em;
  position: relative;
}

.form-group label {
  color: #000;
}

.card-body .form-group .title {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: -0.04em;
}

.top-title {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.input-group.allquarter {
  justify-content: center;
  padding: 15% 0 15% 0;
}

.card.card-custom {
  border-radius: 0;
  margin: 10px;
}

.allquarter .input-group input[type='radio'] {
  position: absolute;
  margin-top: -1.5em;
  margin-left: 110%;
  width: 1.3em;
  height: 1.3em;
}

.paginationjs a {
  color: #000;
}

.paginationjs a .fa {
  color: #000;
  font-size: 12px;
}

.btn.btn-next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 150px;
  height: 60px;
  background: #CCCCCC;
  right: 2%;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: whitesmoke;
}

.card .input-group input[type='radio']:checked:after {
  width: 18px;
  height: 17px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 5px solid var(--orange);
}

#pagination-bar {
  width: 100%;
  padding: 0 10% 0 10%;
}

.paginationjs-pages ul {
  padding: 0;
}